@import url("./../_header/herader-2.css");
@font-face {
    font-family:'Ubuntu' ;
    src: url('../../fonts/Ubuntu-Regular.ttf');
}

*{margin: 0;padding: 0;}
main{
    display:flex;
    font-family: 'Ubuntu';
    position: relative;
    width: 100%;
    top: 10vh;
    justify-content: center;
}
main #conteudo{
    padding: 2%;
    box-shadow: 0 0 0.8vh 0.1vh #bebebe7c;
}
#moneyInfo{
    display: flex;
    margin-bottom: 5vh;
    align-items: center;
}
#withdrawalHistory{
    background-color:#5bc0de ;
    margin-left: auto;
    padding: 0.7vh 0.9vh;
    color: #f3f3f3;
    border-radius: 0.3em;
    box-shadow: 0 0 0.8vh 0.1vh #999999cb;
}
#withdrawalHistory:active{background-color:#54b2cf;}
.withdrawMoney input,label,p{
    display: block;
    margin: auto;
    margin-bottom: 1vh;
    width: 100%;
}
.withdrawMoney{width: 100%;}
.withdrawMoney label{
    text-transform: uppercase;
    font-size: 0.8em;

}
.withdrawMoney input{
    width: 97%;
    padding: 0.4em 0.2em;
}
.withdrawMoney p{
    text-align: right;
    font-size: 0.8em;
    color: #555;
}
#btn{
    background-color: #5cb85c;
    border: none;
    padding: 2%;
    font-size: 1em;
    box-shadow: 0 0 0.8vh 0vh #999999cb;
    color: #f3f3f3;

}
#btn:active{background-color: #53a753;}

#fadeInfoSaque{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2222229f;
    z-index: 8;
    pointer-events: all;
}
#modalInfoSaque{
    position: fixed;
    display: block;
    width: 45vh;
    height: 10vh;
    z-index: 10;
    top: 20vh;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FFF;
    font-family: 'Ubuntu';
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 1.1em;
    pointer-events: all;
}
#fadeInfoSaque.hidden , #modalInfoSaque.hidden{
    opacity: 0;
    pointer-events: none;
}

#header-modal{width: 100%;
    height: 4vh;
    text-align: right;
    padding-right: 2vh;
    font-size: 2em;
    color: #5555557a;
}

@media only screen and (min-width:320px){main #conteudo{width: 92%;}}
@media only screen and (min-width:600px){main #conteudo{width: 65%;}}
@media only screen and (min-width:900px){main #conteudo{width: 50%;}}
@media only screen and (min-width:1100px){main #conteudo{width: 35%;}}
@media only screen and (min-width:1800px){main #conteudo{width: 25%;}}