.nav-bolao{
    position: relative;
    display: flex;
    top: 1vh;
    height: 4vh;
    list-style: none;
    }
.btn-type-apost{
    display: block;
    height: 100%;
    width: 10vh;

}
.nav-bolao li a{
    display: flex;
    background-color: #426fc4;
    color: #FFF;
    height: 99%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    border-top-right-radius: 0.3em;
    border-top-left-radius:0;
    
}
.btn-type-apost.hidden a{
    background-color: rgb(142, 158, 189);
}
/* area */
.area-bolao{
    position: relative;
    background-color: rgb(255, 255, 255);
    border:#426fc4 1px solid ;
    border-bottom: none;
    top: 0.8vh;
    height: 86vh;
    padding: 1vh;
}
/* Cabeçalho */
.info{display: flex;margin-bottom: 1vh;}
.info h2{margin-right: auto;}
.info button{
    background-color:#5bc0de;
    border:none;
    padding: 1.5%;
    border-radius: 0.2em;
    color: #FFF;
}
/* tabela */
.tb-status-bolao{
    position: relative;
    display: block;
    background-color: #e6e6e6be;
    width: 96%;
    padding: 1%;
    border: none;
    border-radius: 1vh;
    height: 30vh;
}
.tb-status-bolao thead{
    display: block;
    width: 100%;
;
}
.tb-status-bolao thead tr{
    display: flex;
    width: 100%;

}
.tb-status-bolao thead th{
    display: block;
    text-align: center;
    width:94% ;
    padding: 1%;
    border-bottom: 0.1vh solid #333;
    
}
    
.tb-status-bolao tbody{
    display: block;
    width: 100%;
}
.tb-status-bolao tbody tr{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #99999988;
}
.tb-status-bolao tbody td{
    display: block;
    text-align: center;
    width:94% ;
    padding: 1%;
    
}
/* form aposta */
.div-form-apostar{
    position:relative;
    top: 1vh;
}
.area-info-apost{
    display: flex;
    justify-content: center;
    align-items: center;
}
.area-info-apost .info-apost{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 0.5vh;
}
.up-apost ,.qtd-apost, .down-apost{
    border: 1px solid #777	;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #5cb85c;
    font-weight:400;
    font-family:sans-serif;
}
.qtd-apost{
    border: none;
    color: #333;
    font-weight:400;
    font-size: 1.5em;
}
.div-form-apostar form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}
#btn-apostar{
    background-color: #5cb85c;
    width: 20vh;
    padding: 0.8vh 1vh;
    border: none;
    border-radius: 0.2em;
    font-size: 1.1em;
    color: #FFF;
}